# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/local.properties
android/.gradle/
android/captures/
*.iml

# iOS / macOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# IDE
.idea/
*.iml
